*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(41, 41, 238, 0.377);
}
.container{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 370px;
    border-radius: 15px;
    background: linear-gradient(135deg,skyblue,green,rgb(116, 13, 110));
    padding: 30px;
    box-shadow: 0 26px 50px black;
    
}
.header{
    width: 100%;
    height: 50px;
    align-items: center;
}
.header input{
    height: 100%;
    width: 240px;
    padding: 10px 8px 10px 15px;
    background-color: rgb(247, 236, 223);
    border-radius: 30px;  
    color: black; 
    border: 0;
    outline: 0;
    font-size: 19px;
    margin-right: 10px;
}
.header button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(235deg,white,rgb(238, 183, 238));
    border: 0;
    outline: 0;
    cursor: pointer;
}
.header button img{
    width: 17px;
    height: 17px;
    color: white;
}
.section{
    text-align: center;
    color: white;
}
.section img{
    width: 180px;
    height: 180px;
}
.temp{
    font-size: 70px;
    font-weight: 300;
}
.city{
    font-size: 35px;
    font-weight: 100;
}
.footer{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    color: white;
}
.humidity-section,.wind-section{
    display: flex;
    align-items: center;
}
.humidity-section img,.wind-section img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.humidity-content h2,.wind-content h2{
    font-weight: 200;
}
.info{
    display: none;
}
.error h3{
    color: red;
    margin: 20px 0px 0px 10px;
    display: none;
}